<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <title>Meeting Transcript</title>
    <style>
        *,  #transcription, .pre-container, .container, .translated_text, p, div, span, strong, pre {
            font-family: 'Lato', sans-serif !important;
        }
        #transcription {
            width: 100%;
            display: flex;
            font-size: 14px;
            flex-wrap: wrap;
            flex-direction: column;
        }
        .pre-container {
            width: 700px !important;
        }
        .container {
            display: flex;
            flex-direction: column;
            gap: 5px;
            margin: 0;
            padding: 10px;
        }
        .translated_text {
            font-size: 14px;
            background-color: beige;
            padding: 10px;
            border-radius: 5px;
            font-style: italic;
            color: gray;
        }

    </style>
</head>

<body>
    <p>Transcription details: </p>
    <div class="pre-container">
        <div id="transcription"><%-transcript%></div>
    </div>
</body>

</html>